.places__paragraph {
  display: inline-block;
  font-size: 18px;
  line-height: 163%;
  margin: 0 auto 26px 0;
}

.places__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 896px) {
  .places__paragraph {
    font-size: 16px;
  }
}
