.header__lang-link {
  margin: 0 18px 0 0;
  text-decoration: underline;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:last-of-type {
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
