.page {
  margin: 0 auto;
  padding: 28px 48px 24px 48px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .page {
    padding: 28px 0 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 16px 0 24px 0;
  }
}


