.page {
  margin: 0 auto;
  padding: 28px 24px 48px 24px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  min-width: 320px;
}

@media screen and (max-width: 896px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    padding: 0;
  }
}

@media screen and (max-width: 896px) {
  .lead {
    padding: 0;
  }
}
