.photo-grid {
  max-width: 1184px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-sizing: border-box;
  gap: 16px;
}

@media screen and (max-width: 1152px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 14px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
