.places {
  margin: 0 100px;
  max-width: 984px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .places {
    max-width: 720px;
    margin: 0;
  }
}

@media screen and (max-width: 740px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .places {
    padding: 0;
  }
}
