.places__image {
  max-height: 460px;
  max-width: 460px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1152px) {
  .places__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 896px) {
  .places__image {
    max-width: 340px;
    max-height: 340px;
  }
}

@media screen and (max-width: 425px) {
  .places__image {
    max-width: 320px;
    max-height: 320px;
  }
}
