.places__title {
  max-width: 460px;
  width: 100%;
  height: 100%;
  font-size: 72px;
  line-height: 76px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  display: inline-block;
}

@media screen and (max-width: 1152px) {
  .places__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 896px) {
  .places__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0 16px;
  }
}
