.places__pragraphs {
  display: flex;
  flex-direction: column;
  max-width: 484px;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .places__paragraphs {
    margin: 0 16px;
    max-width: 288px;
  }
}
