.lead {
  max-width: 984px;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1152px) {
  .lead {
    max-width: 928px;
    margin: 0;
  }
}

@media screen and (max-width: 896px) {
  .lead {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    max-width: 320px;
    margin: 0;
  }
}
