.lead {
  max-width: 984px;
  width: 100%;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1152px) {
  .lead {
    max-width: 928px;
    margin: 0;
  }
}

@media screen and (max-width: 896px) {
  .lead {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    max-width: 320px;
  }
}
