.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  max-width: 360px;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
