.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1152px) {
  .photo-grid__item {
    max-width: 300px;
    max-height: 225px;
  }
}

@media screen and (max-width: 896px) {
  .photo-grid__item {
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__item {
    max-width: 286px;
    max-height: 216px;
  }
}
