.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
}

@media screen and (max-width: 1152px) {
  .content {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .content {
    max-width: 720px;
  }
}

@media screen and (max-width: 544px) {
  .content {
    max-width: 288px;
    max-height: 42px;
  }
}
