.header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
