.content {
  display: grid;
  grid-row-gap: 92px;
  justify-items: center;
  width: 100%;
}

@media screen and (max-width: 1152px) {
  .content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 896px) {
  .content {
    max-width: 768px;
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    max-width: 320px;
    grid-row-gap: 64px;
  }
}

