.footer__link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px 0;
  }
}
