.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-family: 'Inter Black', 'Arial', sans-serif;
  display: flex;
  margin: 56px 0 0 0;
  max-width: 720px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1152px) {
  .lead__title {
    margin: 48px 0 0 0;
  }
}

@media screen and (max-width: 740px) {
  .lead__title {
    font-size: 54px;
    line-height: 58px;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 48px 16px 0 16px;
  }
}
