.places__list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  gap: 80px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}

@media screen and (max-width: 896px) {
  .places__list {
    gap: 73px;
  }
}

@media screen and (max-width: 425px) {
  .places__list {
    gap: 50px;
  }
}
