.logo {
  display: block;
  max-width: 176px;
  max-height: 52px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 720px) {
  .logo {
    max-width: 142px;
    max-height: 42px;
  }
}
