.footer__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    align-content: flex-start;
  }
}
