.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  display: inline-block;
  text-align: right;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    text-align: left;
  }
}
