.lead__image {
  margin: 64px auto 0 auto;
  object-fit: cover;
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 896px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 544px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin: 0 48px;
  }
}
