.lead__image {
  margin: 64px auto 0 auto;
  max-width: 984px;
  max-height: 615px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 896px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin: 40px 0 0 0;
  }
}
