@font-face {
  font-family: 'Inter Regular';
  src: local(inter-regular);
  src: url(../../fonts/Inter-Regular.woff2) format('woff2');
  src: url(../../fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter Black';
  src: local(inter-black);
  src: url(../../fonts/Inter-Black.woff2) format('woff2');
  src: url(../../fonts/Inter-Black.woff) format('woff');
}

@font-face {
  font-family: 'Inter Bold';
  src: local(inter-bold);
  src: url(../../fonts/Inter-Bold.woff2) format('woff2');
  src: url(../../fonts/Inter-Bold.woff) format('woff');
}
