.lead__subtitle {
  margin: 32px 0 0 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  max-width: 640px;
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 0 0;
  }
}
