.cover {
  max-width: 1184px;
  width: 100%;
  height: 100%;
  margin: 2px 0 0 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 896px) {
  .cover {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    max-width: 320px;
  }
}
