.lead__caption {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 8px 0 0 0;
  text-align: left;
  align-self: flex-start;
}

@media screen and (max-width: 896px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}
