.place {
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

@media screen and (max-width: 1152px) {
  .place {
    max-width: 928px;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 896px) {
  .place {
    max-width: 720px;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    grid-template-columns: 1fr;
    max-width: 720px;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    max-width: 320px;
    grid-row-gap: 32px;
  }
}
