.footer {
  max-width: 1184px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 92px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1152px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 896px) {
  .footer {
    max-width: 720px;
    margin: 88px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
    max-width: 186px;
    min-height: 310px;
    margin: 65px auto 0 16px;
  }
}
