.places__website {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: fit-content;
}

@media screen and (max-width: 425px) {
  .places__website {
    padding: 0 16px 0 16px;
  }
}
