.places__website {
  max-width: 456px;
  max-height: 46px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

@media screen and (max-width: 425px) {
  .places__website {
    margin: 0 16px 0 16px;
  }
}
