.places__website {
  max-width: 456px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .places__website {
    padding: 0 16px 0 16px;
  }
}
