.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-family: 'Inter Black', 'Arial', sans-serif;
  display: inline-block;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 248px;
  }
}
